@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@theme {
	--color-get: #4ade80; /* Subtle green */
	--color-post: #60a5fa; /* Subtle blue */
	--color-put: #fbbf24; /* Subtle yellow */
	--color-delete: #f87171; /* Subtle red */
	--color-patch: #c084fc; /* Subtle purple */
}

@layer base {
	:root {
		--pro-border: rgba(var(--color-surface-500), 0.15);
		--pro-bg: rgba(var(--color-surface-500), 0.05);
	}
}

.status-badge-pro {
	@apply px-3 py-1 rounded-md font-bold text-xs flex items-center gap-2 border border-black/5 transition-all duration-200 shadow-sm;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgba(var(--color-surface-500), 0.1);
	border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba(var(--color-surface-500), 0.2);
}
